<div class="profile-container">
    <img src="https://example.com/profile-image.png" alt="Profile picture">
      <h2> Shaun </h2>
    <p>SDC@mail.com </p>
    <p> +3294567489 </p>
    <p>9660 BROAKEL</p>
    <button>Edit profile</button>
  </div>
  
  <!-- <div class="header">
    <a href="/" class="logo">MyApp</a>
    <div class="header-right">
      <ng-container *ngIf="user">
        <div class="dropdown">
          <button class="dropbtn">{{user.firstName}} {{user.lastName}}</button>
          <div class="dropdown-content">
            <a routerLink="/profile">Profile</a>
            <a (click)="logout()">Logout</a>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!user">
        <a routerLink="/login">Login</a>
      </ng-container>
    </div>
  </div> -->