<header>
    <h1>About Us</h1>
    <!-- <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </nav> -->
  </header>

  <main class="mainclass">
    <section>
      <h2>Our Mission</h2>
      <p>To make a Angular great again.</p>
    </section>

    <section>
      <h2>Our History</h2>
      <p>Loads of history.</p>
    </section>

    <section>
      <h2>Our Team</h2>
      <ul>
        <li>Shaun DC - Back-End DEV</li>
        <li>Shaun DC - Front-End Dev</li>
        <li>Shaun DC - Team Lead  </li>
      </ul>
    </section>


  <section>
    <h2>Our Location</h2>
    <p>catch me @</p>
    <span>
        <a href="https://www.google.com/maps/dir//Allphi,+Guldensporenpark,+Merelbeke/@50.9904773,3.757765,12.54z/data=!4m8!4m7!1m0!1m5!1m1!1s0x47c374687feca3b5:0xddf99438d88cfe9!2m2!1d3.7539925!2d51.0047481" target="_blank"
        rel="noopener noreferrer">
        AllPhi – Axxes Business Park<br>
       Gebouw C – 1e verdieping<br>
       Guldensporenpark 24<br>
       9820 Merelbeke
    </a>
    </span>
  </section>
</main>


  <footer>
    <p>&copy; 2023 AllPHI Fleet Management. All rights reserved.</p>
  </footer>
