<header class="navbar">
    <div class="navbar__logo">
      <a href="#">ALLPHI</a>
    </div>
    <nav class="navbar__items">
      <ul>
        <li routerLinkActive="active"><a [routerLink]="['Home']">Home</a></li>
        <!-- <li routerLinkActive="active"><a [routerLink]="['Login']">Login</a></li> -->
        <li routerLinkActive="active"><a [routerLink]="['About']">About</a></li>
        <li routerLinkActive="active"><a [routerLink]="['Contact']">Contact</a></li>
        <!-- <li routerLinkActive="active"><a [routerLink]="['Register']">Register</a></li> -->
        <li routerLinkActive="active"><a [routerLink]="['Logout']">Logout</a></li>
        
      </ul>
    </nav>
  </header>

<!--<app-header></app-header>-->
<router-outlet></router-outlet>


<!-- <app-login></app-login>
<app-license-list></app-license-list> -->